body { font-family: Arial; background: #f2f2f2; padding: 20px; }
input,select,button { padding: 10px; margin: 10px; width: 90%; }
table { width: 100%; border-collapse: collapse; margin-top: 20px; }
td,th { border: 1px solid #ccc; padding: 10px; }
button { background: blue; color: white; cursor: pointer; }
button:hover { opacity: 0.8; }
